<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>
	<ion-item lines="none">
		<div class="item_inner">
			<div class="item_header d-flex">
				<div class="img_box">
					<img src="assets/images/grocery.png">
				</div>
				<div class="text_box">
					<div class="item_info">
						<ion-row>
							<ion-col size="7">
								<h3>
									<span class="item_title">Storage</span>
									<span class="delivery_type">Entrega ecónomica</span>
								</h3>
							</ion-col>
							<ion-col size="5">
								<!-- <h4>{{'marked_picked' | translate}}</h4> -->
								<h4>Marcado</h4>
							</ion-col>
						</ion-row>
					</div>
				</div>
			</div>
		</div>
	</ion-item>
</ion-header>

<ion-content>
	<div class="map">
		<img src="assets/images/map.png">
		<ion-icon class="zmdi zmdi-pin ion-text-center location" style="top: 26%; left: 15%"></ion-icon>
		<ion-icon class="zmdi zmdi-navigation ion-text-center location" style="top: 43%; left:54%"></ion-icon>

		<ion-icon class="zmdi zmdi-bike ion-text-center courier_boy" style="top: 14%; left: 13%"></ion-icon>
	</div>


	<ion-list lines="none" [ngClass]="fabAction ? 'active' : ''">
		<ion-item class="item_shadow delivermam_info">
			<div class="item_inner d-flex">
				<div class="text_box">
					<h2>{{'get_direction' | translate}}</h2>
					<p>{{'open_google_map' | translate}}</p>
				</div>
				<ion-icon class="zmdi zmdi-navigation ion-text-center end"></ion-icon>
			</div>
		</ion-item>

		<ion-item class="item_shadow location_detail">
			<div class="item_inner d-flex">
				<div class="address_container">
					<div class="address d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						<div class="text">
							<h2>Walmart</h2>
							<h3>Emili Williamson</h3>
							<p class="d-flex">
								<span class="address_text">128 Mott St, New York, NY 10013, United States</span>
								<ion-icon class="zmdi zmdi-phone end ion-text-center"></ion-icon>
							</p>
						</div>
					</div>

					<div class="address d-flex">
						<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
						<div class="text">
							<h2>City Garden</h2>
							<h3>Samantha Smith</h3>
							<p class="d-flex">
								<span class="address_text">2210 St. Merry Church,New York NY 10013, United States</span>
								<ion-icon class="zmdi zmdi-phone end ion-text-center"></ion-icon>
							</p>

						</div>
					</div>
				</div>
				<ion-icon class="zmdi zmdi-chevron-up end ion-text-center" (click)="toggleFab()"></ion-icon>
			</div>
		</ion-item>

		<ion-item class="item_shadow courier_info">
			<div class="item_inner">
				<ion-row>
					<ion-col size="8">
						<h2>{{'courier_type' | translate}}</h2>
						<h3>Box Courier</h3>
					</ion-col>
					<ion-col size="4">
						<h2>{{'frangible' | translate}}</h2>
						<h3>Yes</h3>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="8">
						<h2>{{'height_weight_length' | translate}}</h2>
						<h3>60 x 75 x 124 (cm)</h3>
					</ion-col>
					<ion-col size="4">
						<h2>{{'weight' | translate}}</h2>
						<h3>10 kg</h3>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="12">
						<h2>{{'courier_infp' | translate}}</h2>
						<h3>Birthday Gift containing flower Vaas.<br> Carry carefully as it is frangible.</h3>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="item_shadow courier_info payment_info">
			<div class="item_inner">
				<ion-row>
					<ion-col size="12">
						<h3 class="d-flex">Economy Delivery <span class="end ion-text-end">$8.60</span></h3>
						<h2>Payment via Cash on Pickup</h2>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

	</ion-list>
</ion-content>