<ion-header>
	<ion-toolbar>
		<ion-title>{{'earnings' | translate}}</ion-title>
	</ion-toolbar>
	<h1 class="ion-text-center">$ 178.20</h1>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<h2>{{'recent_transaction' | translate}}</h2>
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/food.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$5.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							 Express Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/grocery.png">
						</div>
						<h3>
							<strong>Grocery delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Courier delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$12.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
			<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/food.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$5.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							 Express Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/grocery.png">
						</div>
						<h3>
							<strong>Grocery delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Courier delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$12.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
			<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/food.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$5.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							 Express Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/grocery.png">
						</div>
						<h3>
							<strong>Grocery delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Courier delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$12.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
			<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/food.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$5.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							 Express Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/grocery.png">
						</div>
						<h3>
							<strong>Grocery delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Courier delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$12.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
			<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/food.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$5.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							 Express Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/grocery.png">
						</div>
						<h3>
							<strong>Grocery delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Courier delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$12.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
			<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/food.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$5.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							 Express Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/grocery.png">
						</div>
						<h3>
							<strong>Grocery delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Courier delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$12.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
			<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/food.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$5.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							 Express Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/grocery.png">
						</div>
						<h3>
							<strong>Grocery delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Courier delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$12.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
			<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/food.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$5.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							 Express Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/grocery.png">
						</div>
						<h3>
							<strong>Grocery delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Courier delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$12.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
			<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/food.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$5.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Food delivered</strong>
							 Express Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/grocery.png">
						</div>
						<h3>
							<strong>Grocery delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$8.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>	
		
		<ion-item class="item_shadow">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6" class="d-flex">
						<div class="img_box">
							<img src="assets/images/courier.png">
						</div>
						<h3>
							<strong>Courier delivered</strong>
							Economy Delivery
						</h3>
					</ion-col>
					<ion-col size="4" class="ion-text-end">
						<h4>
							$12.50
							<strong>{{'paid_via' | translate}} PayPal</strong>
						</h4>
					</ion-col>
					<ion-col size="2" class="ion-text-end">
						<h4>
							$3.50
							<strong>Earned</strong>
						</h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		
	</ion-list>
</ion-content>